*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.xy filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/json/elements.json filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/machine/elements:layer=0.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/machine/elements.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/json/elements.json.exclude filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/json/elements:layer=0.json filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/machine/points.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/machine/points:layer=0.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/json/points.json filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/json/points:layer=0.json filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/damocles/points.cas filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/damocles/points:layer=0.cas filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/human/points:layer=0.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/human/points.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/damocles/elements.cas filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/damocles/elements:layer=0.cas filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/human/elements:layer=0.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/bin-slf-dump/human/elements.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/geo_gouttedo.neighbors.json filter=lfs diff=lfs merge=lfs -text
